.contentSection {
	padding-bottom:40px;
}

.right-content > img {
	width:100%;
	height:auto;
	max-width:400px;
}

.left-content > p {
	text-align: left;
}

.magnetSection {
	padding-top:40px;
	text-align: left;
}

.magnetImage {
	text-align: center;
}

.magnetImage > img {
	width:100%;
	height:auto;
	max-width:700px;
}

.magnetText > h3 {
	margin-top:0px;
	text-align: center;
}